.fontstyle {
    font-size: 20px;
}

.subjectstyle {
    color: red;
}

.entrystyle {
    font-size: 20px;
    padding-top: 10px;
}

.safety_row {
    padding-right: 15%;
    padding-left: 15%;
}

@media only screen and (max-width: 480px) {
    .fontstyle {
        font-size: 15px;
    }

    .subjectstyle {
        font-size: 30px;
    }

    .entrystyle {
        font-size: 15px;
        padding-top: 0;
    }

    .safety_row {
        padding-left: 10%;
        padding-right: 10%;
    }
}