.style {
	height : 250px;
	margin-top : 35px;
	padding-top : 50px;
}

@media only screen and (max-width : 900px){
	.style {
		display : none;
	}
}
/*---------------*/

.bar {
	width : 5px;
	height : 350px;
	background-color: #414141;
	float : left;
	margin-top: 12%;
	margin-left: 40px;
}

.hbar {
	width : 88%;
	height: 1.5px;
	background-color: #C8C8C8;
	clear : both;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
}

@media only screen and (max-width : 900px) {
	.bar {
		display: none;
	}
}

/*-------*/

.dayofweek {
	width : 14.2%;
	height : 30px;
	margin-bottom: 14px;
	font-size : 1em;
	font-weight: 900;
	line-height: 30px;
	float : left;
	text-align: center;
}

.month {
	font-size : 35pt;
	font-weight : 700;
	margin : 0 auto;
	text-align: center;
}

.moreinfo {
	display: table;
	vertical-align: middle;
}

@media only screen and (max-width:900px) {
	.moreinfo {
		display: none;
	}
}

.day{
	width : 14.2%;
	height: 70px;
	text-align: center;
	margin-top: 1px;
	font-size: 1.3em;
	float : left;
	line-height: 70px;
}

.notCurrday {
	width : 14.2%;
	height: 70px;
	margin-top: 1px;
	text-align: center;
	font-size: 1.3em;
	float : left;
	line-height: 70px;
	color : #C2C2C2;
}
