.style {
	height : 250px;
	margin-top : 35px;
	padding-top : 50px;
}

@media only screen and (max-width : 900px){
	.style {
		display : none;
	}
}
/*---------------*/

.bar {
	width : 10px;
	float : left;
}

@media only screen and (max-width : 900px) {
	.bar {
		display: none;
	}
}

/*-------*/

.dayofweek {
	width : 13.8%;
	height : 30px;
	font-size : 10pt;
	line-height: 30px;
	margin : 1px;
	float : left;
	text-align: center;
}

.month {
	font-size : 35pt;
	font-weight : 700;
	margin : 0 auto;
	text-align: center;
}