.app {
  position: relative;
  background-color: black;
  padding-bottom: 80px;
}

.active-tab div h2 {
  font-weight: bold !important;
}

.active-tab {
  display: block !important;
}

.active-thick-tab {
  font-weight: 600;
}

.tab-title:hover {
  cursor: pointer;
}

.tab {
  display: none;
}