.fontstyle {
    font-size: 20px;
    font-family: "Nanum Square";
}

.subjectstyle {
    font-family: "Nanum Square";
    color: #D84141;
}

.entrystyle {
    font-size: 20px;
    font-family: "Nanum Square";
    padding-top: 17px;
}

.safety_row {
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 20%;
}

@media only screen and (max-width: 480px) {
    .fontstyle {
        font-size: 15px;
    }

    .subjectstyle {
        font-size: 30px;
    }

    .entrystyle {
        font-size: 15px;
        padding-top: 0px;
    }

    .safety_row {
        padding-left: 10%;
        padding-right: 10%;
    }
}